<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
    
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
    <ul class="nav pull-right">
    {% if not session.logged_in %} 
    <li><a href="/facebook_login">Login or Signup</a></li>
    {% else %}

    <li><a href="/setting">User Settings</a></li>s
    <li><a href="/logout">Logout</a></li>
    {% endif %}
    </ul>
 
</body> 
</html>
