<!DOCTYPE html>
<html lang="en">

<head>
  <title>NCWIT Community Finder</title>


  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

  <link href="Style.css" rel="stylesheet" type="text/css">

  <style>
    a:hover {
      text-decoration: none;
    }

    ul, li {
      list-style-type: none;
    }

    .prelogin {
      text-align: center;
    }

    .title {
      text-decoration: none;
      color: inherit;
    }

  </style>

</head>

<body>
<div class="container">
  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        {% if not session.logged_in %}
        <li><a href="/facebook_login">Login or Signup</a></li>
        {% else %}
        <li><a href="/setting">User Settings</a></li>
        <li><a href="/logout">Logout</a></li>
        {% endif %}
      </ul>
    </nav>
    <h3 class="text-muted"><a class="title" href="/index">NCWIT Community Finder</a></h3>
  </div>

  <br>
  <h3>Register Conference: </h3>
  <h4>Type of Event: </h4>
  <select>
    <option value="conference">Conference</option>
    <option value="internship">Internship</option>
    <option value="event">Other Tech Event</option>
  </select>

  <form>
    <h4>Title of Conference: </h4>
    <input type="text">
    <h4>City: </h4>
    <input type="text">
    <h4>State: </h4>
    <select>
      <option value="conference">AL</option>
    </select>
    <h4>Sponsor: </h4>
    <input type="text">
  </form>
  <br>
  <button>Submit</button>
  <br>
  <footer class="footer">
    <p>&copy; NCWIT 2015</p>
  </footer>

</div>
</body>
</html>