<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>User Settings</h1>
  <form action="" method="post" name="usersetting">
      {{ form.hidden_tag() }}
      <p>
          Please enter your Facebook login id:<br>
          {{ form.facebook_id(size=80) }}<br>
      </p>
      <p>
          Please enter your First Name:<br>
          {{ form.first_name(size=80) }}<br>
      </p>
      <p>
          Please enter your Last Name:<br>
          {{ form.last_name(size=80) }}<br>
      </p>
      <p>
          Please enter your Organization:<br>
          {{ form.org_id(size=80) }}<br>
      </p>
      <p>
          Please enter your Email id:<br>
          {{ form.email_id(size=80) }}<br>
      </p>
      <p>
          Please enter your Phone Number:<br>
          {{ form.cell_id }}<br>
      </p>
      <p><input type="submit" value="Save"></p>
  </form>
{% endblock %}
